/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans.woff2) format("woff2"),
       url(../fonts/PTSans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans-Bold.woff2) format("woff2"),
       url(../fonts/PTSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-rgb: 0, 0, 0;
  --basic-dark-gray: #333333;
  --basic-light-gray: #EEEEEE;
  --basic-very-light-gray: #F2F2F2;
  --basic-gray: #BDBBBC;
  --basic-lighted-gray: #EBEBEB;
  --basic-mostly-gray: #E5E5E5;
  --basic-white: #FFFFFF;
  --basic-white-rgb: 255, 255, 255;
  --basic-blue: #81B3D2;
  --basic-desaturated-blue: #669EC0;
  --basic-moderate-blue: #5496BD;
  --basic-brown: #766357;
  --basic-dark-brown: #604E43;
  --basic-desaturated-brown: #503E33;
}

/* Global */

.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

/* header */

.nav-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-item a {
  line-height: 26px;
  color: var(--basic-black);

  outline: none;
}

.nav-item a:hover,
.nav-item a:focus {
  color: var(--basic-blue);
}

.nav-item a:active {
  color: rgba(var(--basic-black-rgb), 0.3);
}

.nav-item-active a {
  color: var(--basic-brown);
}

/* text */

.text {
  font-weight: 400;
  color: var( --basic-dark-gray);
}

/* promo */

.promo {
  width: 1200px;
  height: 509px;

  background-image: url(../img/promo-background.jpg);
  background-repeat: no-repeat;
}

/* features */

.features .lead {
  font-size: 21px;
  line-height: 26px;
}

.subtitle {
  line-height: 26px;
}

.features-list,
.feature-elements,
.feature-cards {
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item h3 {
  font-size: 21px;
}

.feature-description {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.feature-description p {
  font-weight: 400;
}

.feature-cards {
  background-color: var(--basic-light-gray);
}

/* search */

.search .lead {
  font-size: 30px;
  line-height: 24px;
}

.search .text {
  line-height: 24px;
}

.button-form {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);

  background-color: var(--basic-brown);
  border: none;
  outline: none;
}

.button-form:hover,
.button-form:focus {
  background-color: var(--basic-dark-brown);
}

.button-form:active {
  background-color: var(--basic-desaturated-brown);
  color: rgba(var(--basic-white-rgb), 0.3);
}

.search-form label {
  line-height: 26px;
}

.search-form input {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);

  background-color: var(--basic-very-light-gray);
  border: none;
  outline: none;
}

.search-form input::placeholder {
  color: var(--basic-black);
}

.search-form input:hover {
  background-color: var(--basic-lighted-gray);
}

.search-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-mostly-gray);
}


.search-form__button-search {
  text-transform: uppercase;
  background-color: var(--basic-blue);
}

.search-form__button-search:hover,
.search-form__button-search:focus {
  background-color: var(--basic-desaturated-blue);
}

.search-form__button-search:active {
  background-color: var(--basic-moderate-blue);
  color: rgba(var(--basic-white-rgb), 0.3);
}

.btn-calendar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn-calendar:hover path,
.btn-calendar:focus path {
  fill: var(--basic-black);
}

.btn-calendar:active path {
  fill: var(--basic-blue);
}

/* footer */

.footer-info p,
.footer-info a {
  font-size: 21px;
  line-height: 26px;
}

.footer-info a {
  color: var(--basic-black);
}

.social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-link {
  display: block;

  background-color: var(--basic-blue);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--basic-desaturated-blue);
}

.social-link:active svg {
  background-color: var(--basic-moderate-blue);
  opacity: 0.3;
}

.own {
  font-weight: 400;
  line-height: 26px;
}

.creator-link:hover path,
.creator-link:focus path {
  fill: var(--basic-blue);
}

.creator-link:active path {
  fill: var(--basic-gray);
}
